<ion-header>
  <ion-toolbar>
    <ion-title>
      Grocery List
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!afAuth.auth.currentUser">
    <firebase-ui></firebase-ui>
  </div>

  <div *ngIf="afAuth.auth.currentUser">
    <ion-list>
      <ion-item-sliding *ngFor="let item of items">
        <ion-item>
          <ion-label>{{item.text}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="delete(item)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>
